/*VARIABLES*/
/*Fuentes*/
/*Mapas*/
/*Media mobile mixin*/
/*mixin display*/
/*mixin para items formulario*/
/*Extends*/
/*Estilos componentes del formulario*/
.mainContacto section #formularioContacto div select, .mainContacto section #formularioContacto div input, .mainContacto section #formularioContacto div:nth-child(5) textarea {
  background-color: #222;
  border: solid 1px;
  border-color: #333232;
  color: #777;
  font-family: "Poppins";
  padding: 5px;
  font-size: 1.3rem;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/BebasNeue-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* body {
  background-color: #000000;
}
* body a {
  text-decoration: none;
}

/*Botones*/
.boton {
  background-color: #333;
  border: 0px;
  border-radius: 8px;
  padding: 2px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2117647059);
}
.boton a {
  display: block;
  padding: 6px;
  color: white;
}
.boton:hover {
  background-color: #666;
}
.boton:active {
  background-color: #888;
  color: #000000;
}

/*Botones formulario de contacto*/
.mainContacto section #formularioContacto div #botonReset, .mainContacto section #formularioContacto div #botonSumbit {
  color: #afafaf;
}
.mainContacto section #formularioContacto div #botonReset:hover, .mainContacto section #formularioContacto div #botonSumbit:hover {
  background-color: #888;
  color: #222;
}
.mainContacto section #formularioContacto div #botonReset:active, .mainContacto section #formularioContacto div #botonSumbit:active {
  background-color: #666;
}
@media screen and (max-width: 767px) {
  .mainContacto section #formularioContacto div #botonReset, .mainContacto section #formularioContacto div #botonSumbit {
    margin: 2px;
  }
}

/*H1 paginas no index*/
.tituloPagina {
  text-align: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0;
}

header {
  position: relative;
  z-index: 1;
}
header nav {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header nav div .navbar-brand img {
  /*Logo del menu de navegacion*/
  transition: 0.5s;
}
header nav div .navbar-brand img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  header nav div .navbar-toggler {
    /*Color boton desplegable mobile*/
    background-color: #f2f4f3;
  }
}
@media screen and (max-width: 767px) {
  header nav div #offcanvasNavbar {
    /*offcanvas y estilo textos*/
    background-color: rgba(0, 0, 0, 0.6549019608);
  }
}
@media screen and (max-width: 767px) {
  header nav div .offcanvas-title {
    color: #f2f4f3;
  }
}
header nav div div .offcanvas-body div ul li a {
  font-weight: 400;
}
header nav div div .offcanvas-body div ul li .nav-link:hover {
  border-bottom: solid 0.5px #666;
}
@media screen and (max-width: 767px) {
  header nav div div .offcanvas-body div ul li .nav-link:hover {
    width: max-content;
  }
}
header nav div div .offcanvas-body div ul li .active {
  border-bottom: solid 1px white;
}
@media screen and (max-width: 767px) {
  header nav div div .offcanvas-body div ul li .active {
    width: max-content;
  }
}

/*Footer*/
footer {
  background-color: #f2f4f3;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px;
}
@media screen and (max-width: 767px) {
  footer .container .row .footerImagen {
    /*footer alineado al centro para mobile*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 1.5rem;
  }
}
footer .container .row .footerImagen a img {
  width: 200px;
  margin: 0px;
}
footer .container .row .footer-contacto h3 {
  text-decoration: underline;
  text-align: right;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  footer .container .row .footer-contacto h3 {
    text-align: center;
  }
}
footer .container .row .footer-contacto p {
  text-align: right;
}
@media screen and (max-width: 767px) {
  footer .container .row .footer-contacto p {
    text-align: center;
  }
}

.mainIndex .portadaIndex {
  /*Imagen portada index*/
  height: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../img/portada2.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  color: white;
}
.mainIndex .portadaIndex h1 {
  padding: 190px 0 50px 0;
  margin: 0;
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 5rem;
}
@media screen and (max-width: 767px) {
  .mainIndex .portadaIndex h1 {
    /*Index dimensiones mobile*/
    padding: 140px 3px 30px 3px;
    font-size: 3.8rem;
  }
}
.mainIndex .portadaIndex h1 strong {
  color: #ff0000;
  font-family: "Bebas Neue";
}
.mainIndex .portadaIndex p {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 50px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .mainIndex .portadaIndex p {
    font-size: 1.4rem;
    padding: 20px;
  }
}
.mainIndex #servicios-index {
  height: 100%;
  padding: 25px;
  text-align: center;
  /*Titulo de seccion servicios*/
}
.mainIndex #servicios-index h2 {
  color: #f2f4f3;
  font-size: 2rem;
}
.mainIndex #servicios-index .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /*Tarjetas servicios index*/
}
.mainIndex #servicios-index .row .servicios-tarjeta {
  width: 400px;
  border: solid 1px #777;
  border-radius: 9px;
  margin: 20px;
  padding: 20px;
  background-color: #f2f4f3;
  box-shadow: -5px 5px 20px 0px #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .mainIndex #servicios-index .row .servicios-tarjeta {
    margin: 20px 10px;
  }
}
.mainIndex #servicios-index .row .servicios-tarjeta h3 {
  font-size: 1.7rem;
}
.mainIndex #servicios-index .row .servicios-tarjeta p {
  color: #666;
  padding: 15px;
  font-size: 1.25rem;
}
.mainIndex .quienesSomos {
  /*Seccion quienes somos*/
  padding: 50px;
}
@media screen and (max-width: 767px) {
  .mainIndex .quienesSomos {
    padding: 25px;
  }
}
.mainIndex .quienesSomos article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.mainIndex .quienesSomos article .imagenQS {
  padding: 0px;
}
.mainIndex .quienesSomos article .imagenQS img {
  height: auto;
  max-width: 100%;
  border-radius: 20px 0 0 20px;
}
@media screen and (max-width: 767px) {
  .mainIndex .quienesSomos article .imagenQS img {
    border-radius: 20px 20px 0px 0px;
  }
}
.mainIndex .quienesSomos article .textoQS {
  padding: 40px;
  text-align: center;
  background-color: #f2f4f3;
  border-radius: 0 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .mainIndex .quienesSomos article .textoQS {
    border-radius: 0px 0px 20px 20px;
    padding: 15px;
  }
}
.mainIndex .quienesSomos article .textoQS h3 {
  font-size: 1.7rem;
  padding: 5px;
}
.mainIndex .quienesSomos article .textoQS p {
  color: #666;
  padding: 10px;
  font-size: 1.25rem;
}
@media screen and (max-width: 767px) {
  .mainIndex .quienesSomos article .textoQS p {
    font-size: 1.2rem;
  }
}

/*pagina empresa*/
.mainEmpresa .portadaEmpresa .tituloPagina {
  padding: 50px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../img/frente-matadero.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.mainEmpresa #historiaEmpresa {
  padding: 20px;
}
.mainEmpresa #historiaEmpresa article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainEmpresa #historiaEmpresa article .row div img {
  max-width: 100%;
  border-radius: 10px;
  padding: 50px;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #historiaEmpresa article .row div img {
    padding: 20px;
  }
}
.mainEmpresa #historiaEmpresa article .row .textoHistoria {
  color: #f2f4f3;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #historiaEmpresa article .row .textoHistoria {
    text-align: center;
  }
}
.mainEmpresa #historiaEmpresa article .row .textoHistoria h2 {
  font-size: 1.7rem;
  color: #ff0000;
}
.mainEmpresa #historiaEmpresa article .row .textoHistoria p {
  padding: 5px;
  font-size: 1.2rem;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa {
  /*Tarjetas mision,vision,valores*/
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #basesEmpresa article .tarjetasEmpresa {
    padding: 20px;
    text-align: center;
  }
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaMision {
  width: 350px;
  border-radius: 9px;
  padding: 10px;
  background: linear-gradient(130.58deg, #f2f4f3, #dcdbdb 84.33%);
  font-size: 1.2rem;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaMision h3 {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #ff0000;
  padding: 5px;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaMision p {
  color: #666;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaMision {
    margin-bottom: 15px;
  }
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaVision {
  width: 350px;
  border-radius: 9px;
  padding: 10px;
  background: linear-gradient(130.58deg, #ED2E26 9.62%, #A50903 84.33%);
  font-size: 1.2rem;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaVision h3 {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #f2f4f3;
  padding: 5px;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaVision p {
  color: #d7d7d7;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaVision {
    margin-bottom: 15px;
  }
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaValores {
  width: 350px;
  border-radius: 9px;
  padding: 10px;
  background: linear-gradient(130.58deg, #f2f4f3, #dcdbdb 84.33%);
  font-size: 1.2rem;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaValores h3 {
  font-size: 1.6rem;
  text-decoration: underline;
  color: #ff0000;
  padding: 5px;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaValores ul {
  color: #666;
  list-style: none;
  padding: 10px;
}
.mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaValores ul li {
  padding-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #basesEmpresa article .tarjetasEmpresa .tarjetaValores {
    margin-bottom: 15px;
  }
}
.mainEmpresa #prensa {
  /*Seccion prensa*/
  padding: 50px;
}
.mainEmpresa #prensa article h4 {
  text-align: center;
  color: #ff0000;
}
.mainEmpresa #prensa article .row div .videoPrensa {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .mainEmpresa #prensa {
    padding: 30px 15px;
  }
}

/*pagina servicios*/
.mainServicios .portadaServicios {
  height: 100%;
  padding: 50px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../img/portadaServicios.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.mainServicios section #servicioFaena {
  /*seccion faena y venta*/
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainServicios section #servicioFaena .faenaImagen {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.mainServicios section #servicioFaena .faenaImagen h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  color: white;
  border: solid 2px;
  border-radius: 10px;
  font-size: 3rem;
  padding: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4470588235);
}
.mainServicios section #servicioFaena .faenaImagen img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .mainServicios section #servicioFaena .faenaImagen {
    padding: 0px;
  }
}
.mainServicios section #servicioFaena .faenaTexto {
  padding: 20px;
  background: linear-gradient(130.58deg, #ED2E26 9.62%, #A50903 84.33%);
  border-radius: 15px;
  text-align: center;
}
.mainServicios section #servicioFaena .faenaTexto h3 {
  padding: 10px;
  text-transform: uppercase;
  color: #f2f4f3;
}
.mainServicios section #servicioFaena .faenaTexto p {
  color: #d7d7d7;
  padding: 0 10px 5px 10px;
}
@media screen and (max-width: 767px) {
  .mainServicios section #servicioFaena .faenaTexto {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .mainServicios section #servicioFaena {
    padding: 10px;
  }
}
.mainServicios section #servicioVenta {
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.mainServicios section #servicioVenta .ventaImagen {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.mainServicios section #servicioVenta .ventaImagen h2 {
  font-family: "Bebas Neue";
  font-weight: 400;
  color: white;
  border: solid 2px;
  border-radius: 10px;
  font-size: 3rem;
  padding: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4470588235);
}
.mainServicios section #servicioVenta .ventaImagen img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .mainServicios section #servicioVenta .ventaImagen {
    padding: 0px;
  }
}
.mainServicios section #servicioVenta .ventaTexto {
  padding: 20px;
  background: linear-gradient(130.58deg, #0c07cb 9.62%, #03094f 84.33%);
  border-radius: 15px;
  text-align: center;
}
.mainServicios section #servicioVenta .ventaTexto h3 {
  padding: 10px;
  text-transform: uppercase;
  color: #f2f4f3;
}
.mainServicios section #servicioVenta .ventaTexto p {
  color: #d7d7d7;
  padding: 0 10px 5px 10px;
}
@media screen and (max-width: 767px) {
  .mainServicios section #servicioVenta .ventaTexto {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .mainServicios section #servicioVenta {
    padding: 10px;
  }
}
.mainServicios .serviciosContacto {
  /*servicios boton contactanos*/
  color: #f2f4f3;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}
@media screen and (max-width: 767px) {
  .mainServicios .serviciosContacto {
    padding: 50px;
  }
}
@media screen and (max-width: 767px) {
  .mainServicios .serviciosContacto span {
    padding-bottom: 10px;
  }
}

/*pagina hacienda*/
body .mainHacienda .portadaHacienda {
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../img/portadaHacienda.webp);
  background-position: center;
  background-size: cover;
  height: 100%;
  padding: 50px;
}
body .mainHacienda .portadaHacienda p {
  color: #f2f4f3;
  font-size: 1.2rem;
  padding: 10px;
}
body .mainHacienda section .trazabilidad {
  background-color: #f2f4f3;
  padding: 1.5rem;
}
@media screen and (max-width: 767px) {
  body .mainHacienda section .trazabilidad .trazabilidadCuerpo {
    padding-top: 15px;
    text-align: center;
  }
}
body .mainHacienda section .calidad {
  background-color: #dcdbdb;
  padding: 1.5rem;
}
@media screen and (max-width: 767px) {
  body .mainHacienda section .calidad .calidadCuerpo {
    padding-top: 15px;
    text-align: center;
  }
}
body .mainHacienda section .medioAmbiente {
  background-color: #f2f4f3;
  padding: 1.5rem;
}
@media screen and (max-width: 767px) {
  body .mainHacienda section .medioAmbiente .medioAmbienteCuerpo {
    padding-top: 15px;
    text-align: center;
  }
}
body .asideHacienda {
  background-color: #dcdbdb;
  padding: 1.5rem;
}
body .asideHacienda .contacto-hacienda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mainContacto {
  /*portada Contacto*/
  /*Descripciones laterales contacto*/
}
.mainContacto .portadaContacto {
  height: 100%;
  padding: 50px;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)), url(../img/portada4.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}
.mainContacto section .textoFormulario {
  text-align: center;
  font-size: 0.9rem;
  background-color: #000000;
  color: #afafaf;
  padding: 10px;
  font-size: 1.3rem;
}
.mainContacto section #formularioContacto {
  padding-bottom: 50px;
  background-color: #000000;
  color: #afafaf;
  display: grid;
  grid-template-areas: "servicio nombre" "telefono email" "mensaje mensaje" "sumbit sumbit";
  justify-content: center;
  align-content: center;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  .mainContacto section #formularioContacto {
    grid-template-areas: "servicio" "nombre" "telefono" "email" "mensaje" "sumbit";
  }
}
.mainContacto section #formularioContacto div {
  padding: 8px;
  /*Botones formulario*/
}
.mainContacto section #formularioContacto div:first-child {
  grid-area: servicio;
  display: flex;
  flex-direction: column;
}
.mainContacto section #formularioContacto div:nth-child(2) {
  grid-area: nombre;
  display: flex;
  flex-direction: column;
}
.mainContacto section #formularioContacto div:nth-child(3) {
  grid-area: telefono;
  display: flex;
  flex-direction: column;
}
.mainContacto section #formularioContacto div:nth-child(4) {
  grid-area: email;
  display: flex;
  flex-direction: column;
}
.mainContacto section #formularioContacto div:nth-child(5) {
  grid-area: mensaje;
  display: flex;
  flex-direction: column;
}
.mainContacto section #formularioContacto div:last-child {
  grid-area: sumbit;
  display: flex;
  justify-content: space-between;
}
.mainContacto .infoContacto {
  padding: 0px;
  display: grid;
  grid-template-areas: "descripcion mapa" "descripcion mapa" "descripcion mapa";
  grid-template-columns: 35% 65%;
  grid-template-rows: 200px 200px 200px;
  align-items: center;
  /*Mapa ubicacion empresa*/
}
@media screen and (max-width: 767px) {
  .mainContacto .infoContacto {
    /*Dimensiones mapa e info*/
    grid-template-areas: "descripcion" "mapa";
    grid-template-columns: 100% 100%;
    grid-template-rows: 1fr 600px;
    align-items: start;
  }
}
.mainContacto .infoContacto .descripcionContacto {
  background: linear-gradient(130.58deg, #ED2E26 9.62%, #A50903 84.33%);
  color: #d7d7d7;
  grid-area: descripcion;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.mainContacto .infoContacto .descripcionContacto h3 {
  padding: 10px;
}
.mainContacto .infoContacto .descripcionContacto .infoPlanta {
  padding: 10px;
  font-size: 1.1rem;
}
.mainContacto .infoContacto .descripcionContacto .infoPlanta h4 {
  text-decoration: underline;
}
.mainContacto .infoContacto .descripcionContacto .infoOficina {
  padding: 10px;
  font-size: 1.1rem;
}
.mainContacto .infoContacto .descripcionContacto .infoOficina h4 {
  text-decoration: underline;
}
@media screen and (max-width: 767px) {
  .mainContacto .infoContacto .descripcionContacto {
    align-items: center;
    text-align: center;
  }
}
.mainContacto .infoContacto .mapa {
  grid-area: mapa;
  height: 100%;
}
.mainContacto .infoContacto .mapa iframe {
  width: 100%;
  filter: invert(90%) hue-rotate(180deg);
}
@media screen and (max-width: 767px) {
  .mainContacto .infoContacto .mapa {
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
