/*Extends*/


/*Estilos componentes del formulario*/
%estilosFormulario{
    background-color: #222;
    border: solid 1px;
    border-color: #333232;
    color: #777;
    font-family: "Poppins";
    padding: 5px;
     font-size: 1.3rem;
}