/*Media mobile mixin*/
@mixin mobile {
    @media screen and (max-width: 767px) {
        @content;
    }
}

/*mixin display*/
@mixin flex ($display, $direccion, $horizontal, $vertical){
    display: $display;
    flex-direction: $direccion;
    justify-content: $horizontal;
    align-items: $vertical;
}

/*mixin para items formulario*/
@mixin itemsFormulario ($area, $flex, $direccion){
    grid-area: $area;
    display: $flex;
    flex-direction: $direccion;
}
