/*Botones*/
.boton{
    background-color: #333;
    border: 0px;
    border-radius: 8px;
    padding: 2px;
    transition: 0.3s;
    box-shadow: 0 0 10px #00000036;
    a{
        display: block;
        padding: 6px;
        color: map-get($colores-textos, titulo-primario);
    }
    &:hover{
        background-color: map-get($colores-textos, texto-secundario-gris);
    }
    &:active{
        background-color: #888;
        color: #000000;
    }    
}

/*Botones formulario de contacto*/
%botonesFormulario{
    color: map-get($colores-textos, texto-terciario-gris);
                    &:hover{
                        background-color: #888;
                        color: #222;
                    }
                    &:active{
                        background-color: map-get($colores-textos, texto-secundario-gris);
                    }
}