 /*H1 paginas no index*/

 .tituloPagina{
    text-align: center;
    color: map-get($colores-textos, titulo-primario);
    font-family: $fuente-titulos, sans-serif;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0;
}