.mainIndex{
    .portadaIndex{
        /*Imagen portada index*/
        height: 100%;
        background-image:linear-gradient(rgba(5,7,12,0.60),rgba(5,7,12,0.60)), url(../img/portada2.webp);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        text-align: center;
        color: map-get($colores-textos, titulo-primario);
        h1{
            padding: 190px 0 50px 0;
            margin: 0;
            text-align: center;
            font-family: $fuente-titulos;
            font-weight: 500;
            font-size: 5rem;
            @include mobile{
                /*Index dimensiones mobile*/
                padding: 140px 3px 30px 3px;
                font-size: 3.8rem;
            }
            strong{
                color: map-get($colores-textos, titulo-secundario);
                font-family: $fuente-titulos;
            }
        }
        p{
            font-size: 1.8rem;
            font-weight: 400;
            padding: 80px;
            margin: 0;
            @include mobile{
                font-size: 1.4rem;
                padding: 25px 10px;
            }
        }
    }
    
    #servicios-index{
        height: 100%;
        padding: 80px 25px;
        text-align: center;
        /*Titulo de seccion servicios*/
        h2{
            color:map-get($colores-textos, texto-primario);
            font-size: 2rem;
        }
        .row{
            @include flex(flex, row, center, stretch);
            /*Tarjetas servicios index*/
            .servicios-tarjeta{
                width: 400px;
                border: solid 1px #777;
                border-radius: 9px;
                margin: 20px;
                padding: 10px 5px;
                background-color: map-get($colores-fondos, fondo-secundario);
                @include flex(flex, column, space-between, center);
                @include mobile{
                    margin: 20px 10px;
                    padding: 20px;
                }
                h3{
                    font-size: 1.7rem;
                }
                p{
                    color: map-get($colores-textos, texto-secundario-gris);
                    padding: 15px;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .quienesSomos{
        /*Seccion quienes somos*/
        padding: 50px;
        @include mobile{
            padding: 25px;
        }
        article{
            @include flex(flex, row, center, stretch);
            .imagenQS{
                padding: 0px;
                img{
                    height: auto;
                    max-width: 100%;
                    border-radius: 20px 0 0 20px;
                    @include mobile{
                        border-radius: 20px 20px 0px 0px;
                    }
                }
            }
            .textoQS{
                padding: 40px;
                text-align: center;
                background-color: map-get($colores-fondos, fondo-secundario);
                border-radius: 0 20px 20px 0px;
                @include flex(flex, column, center, center);
                @include mobile{
                    border-radius: 0px 0px 20px 20px;
                    padding: 15px;
                }
                h3{
                    font-size: 1.7rem;
                    padding: 5px;
                }
                p{
                    color: map-get($colores-textos, texto-secundario-gris);
                    padding: 10px;
                    font-size: 1.25rem;
                    @include mobile{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}