
/*pagina empresa*/
.mainEmpresa{
    .portadaEmpresa{
        .tituloPagina{
            padding: 50px;
            background-image: linear-gradient(rgba(5,7,12,0.60),rgba(5,7,12,0.60)), url(../../img/portada3.webp);
            background-size: cover;
            background-position: center;
            @include flex(flex, row, center, end);
        }
    }
    #historiaEmpresa{
        padding: 40px 20px;
        article{
            @include flex(flex, row, center, center);
            .row{
                div{
                    img{
                        max-width: 100%;
                        border-radius: 10px;
                        padding: 50px;
                        @include mobile{
                            padding: 20px;
                        }
                    }
                }
                .textoHistoria{
                    color: map-get($colores-textos, texto-primario);
                    text-align: left;
                    @include mobile{
                        text-align: center;
                    }
                    h2{
                        font-size: 1.7rem;
                        color: map-get($colores-textos, titulo-secundario);
                    }
                    p{
                        padding: 5px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    #basesEmpresa{
        article{
            .tarjetasEmpresa{
                /*Tarjetas mision,vision,valores*/
                padding: 40px;
                @include flex(flex, row, space-around, stretch);
                @include mobile {
                    padding: 20px;
                    text-align: center;
                }
                .tarjetaMision{
                    width: 350px;
                    border-radius: 9px;
                    padding: 10px;
                    background: map-get($gradientes, gradiente-blanco);
                    font-size: 1.2rem;
                    h3{
                        font-size: 1.6rem;
                        text-decoration: underline;
                        color: map-get($colores-textos, titulo-secundario);
                        padding: 5px;
                    }
                    p{
                        color: map-get($colores-textos, texto-secundario-gris);
                        padding: 10px;
                    }
                    @include mobile{
                        margin-bottom: 15px;
                    }
                }
                .tarjetaVision{
                    width: 350px;
                    border-radius: 9px;
                    padding: 10px;
                    background: map-get($gradientes, gradiente-rojo);
                    font-size: 1.2rem;
                    h3{
                        font-size: 1.6rem;
                        text-decoration: underline;
                        color: map-get($colores-textos, texto-primario);
                        padding: 5px;
                    }
                    p{
                        color: map-get($colores-textos, texto-secundario-blanco);
                        padding: 10px;
                    }
                    @include mobile{
                        margin-bottom: 15px;
                    }
                }
                .tarjetaValores{
                    width: 350px;
                    border-radius: 9px;
                    padding: 10px;
                    background: map-get($gradientes, gradiente-blanco);
                    font-size: 1.2rem;
                    h3{
                        font-size: 1.6rem;
                        text-decoration: underline;
                        color: map-get($colores-textos, titulo-secundario);
                        padding: 5px;
                    }
                    ul{
                        color: map-get($colores-textos, texto-secundario-gris);
                        list-style: none;
                        padding: 10px;
                        li{
                            padding-bottom: 5px;
                        }
                    }
                    @include mobile{
                        margin-bottom: 15px;
                    }
                }
            }
         }
    } 
    #prensa{
        /*Seccion prensa*/
        padding: 50px;
        article{
            h4{
                text-align: center;
                color: map-get($colores-textos, titulo-secundario);
            }
            .row{
                div{
                    @include flex(flex, row, center, center);
                    .videoPrensa{
                        @extend %estilosImagenes;
                    }
                    .noticia1{
                        @extend %estilosImagenes;
                    }
                    .noticia2{
                        @extend %estilosImagenes;
                    }
                }
            }
        }
        @include mobile{
            padding: 30px 15px;
        }
    }
}



