
/*pagina empresa*/
.mainEmpresa{
    .portadaEmpresa{
        .tituloPagina{
            padding: 50px;
            background-image: linear-gradient(rgba(5,7,12,0.60),rgba(5,7,12,0.60)), url(../img/frente-matadero.png);
            background-size: cover;
            background-position: center;
            @include flex(flex, row, center, end);
        }
    }
    #historiaEmpresa{
        padding: 20px;
        article{
            @include flex(flex, row, center, center);
            .row{
                div{
                    img{
                        max-width: 100%;
                        border-radius: 10px;
                        padding: 50px;
                        @include mobile{
                            padding: 20px;
                        }
                    }
                }
                .textoHistoria{
                    color: #f2f4f3;
                    text-align: left;
                    @include mobile{
                        text-align: center;
                    }
                    h2{
                        font-size: 1.7rem;
                        color: #ff0000;
                    }
                    p{
                        padding: 5px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    #basesEmpresa{
        article{
            .tarjetasEmpresa{
                /*Tarjetas mision,vision,valores*/
                padding: 40px;
                @include flex(flex, row, space-around, stretch);
                @include mobile {
                    padding: 20px;
                    text-align: center;
                }
                .tarjetaMision{
                    width: 350px;
                    border-radius: 9px;
                    padding: 10px;
                    background-color: #f2f4f3;
                    font-size: 1.2rem;
                    h3{
                        font-size: 1.6rem;
                        text-decoration: underline;
                        color: #A50903;
                        padding: 5px;
                    }
                    p{
                        color: #666;
                        padding: 10px;
                    }
                    @include mobile{
                        margin-bottom: 15px;
                    }
                }
                .tarjetaVision{
                    width: 350px;
                    border-radius: 9px;
                    padding: 10px;
                    background:linear-gradient(130.58deg, #ED2E26 9.62%, #A50903 84.33%), #124F86;
                    font-size: 1.2rem;
                    h3{
                        font-size: 1.6rem;
                        text-decoration: underline;
                        color: #e8e8e8;
                        padding: 5px;
                    }
                    p{
                        color: #e3e3e3;
                        padding: 10px;
                    }
                    @include mobile{
                        margin-bottom: 15px;
                    }
                }
                .tarjetaValores{
                    width: 350px;
                    border-radius: 9px;
                    padding: 10px;
                    background-color: #f2f4f3;
                    font-size: 1.2rem;
                    h3{
                        font-size: 1.6rem;
                        text-decoration: underline;
                        color: #A50903;
                        padding: 5px;
                    }
                    ul{
                        color: #666;
                        list-style: none;
                        padding: 10px;
                        li{
                            padding-bottom: 5px;
                        }
                    }
                    @include mobile{
                        margin-bottom: 15px;
                    }
                }
            }
         }
    } 
    #prensa{
        /*Seccion prensa*/
        padding: 50px;
        article{
            h4{
                text-align: center;
                color: #ff0000;
            }
            .row{
                div{
                    .videoPrensa{
                        max-width: 100%;
                    }
                }
            }
        }
        @include mobile{
            padding: 30px 15px;
        }
    }
}



