.mainContacto{
    /*portada Contacto*/
    .portadaContacto{
        height: 100%;
        padding: 50px;
        background-image: linear-gradient(rgba(5,7,12,0.60),rgba(5,7,12,0.60)),url(../img/portada4.webp);
        background-size: cover;
        background-position: center;
        @include flex(flex, row, center, end);
    }
    section{
        .textoFormulario{
            text-align: center;
            font-size: 0.9rem;
            background-color: map-get($colores-fondos, fondo-primario);
            color: map-get($colores-textos, texto-terciario-gris);
            padding: 10px;
            font-size: 1.3rem;
        }
        #formularioContacto{
            padding-bottom: 50px;
            background-color: map-get($colores-fondos, fondo-primario);
            color: map-get($colores-textos, texto-terciario-gris);
            display: grid;
            grid-template-areas: 
            "servicio nombre"
            "telefono email"
            "mensaje mensaje"
            "sumbit sumbit";
            justify-content: center;
            align-content: center;
            font-size: 1.3rem;
            @include mobile{
                grid-template-areas: 
                "servicio" 
                "nombre"
                "telefono"
                "email"
                "mensaje"
                "sumbit";
            }
            div{
                padding: 8px;
                &:first-child{
                    @include itemsFormulario (servicio, flex, column);
                }
                &:nth-child(2){
                    @include itemsFormulario (nombre, flex, column);
                }
                &:nth-child(3){
                    @include itemsFormulario (telefono, flex, column);
                }
                &:nth-child(4){
                    @include itemsFormulario (email, flex, column);
                }
                &:nth-child(5){
                    @include itemsFormulario (mensaje, flex, column);
                    textarea{
                        @extend %estilosFormulario;
                    }
                }
                &:last-child{
                    grid-area: sumbit;
                    display: flex;
                    justify-content: space-between;
                    @include mobile{
                        margin-top: 10px;
                        flex-direction: column;
                        justify-content: center;
                        gap: 25px;
                    }
                }
                input{
                    @extend %estilosFormulario;
                }
                select{
                    @extend %estilosFormulario;
                }
                /*Botones formulario*/
                #botonSumbit{
                    @extend %botonesFormulario;
                }
                #botonReset{
                    @extend %botonesFormulario;
                }
            }                
        }
    }
    /*Descripciones laterales contacto*/
    .infoContacto{
        padding: 0px;
        display: grid;
        grid-template-areas: 
        "descripcion mapa"
        "descripcion mapa"
        "descripcion mapa";
        grid-template-columns: 35% 65%;
        grid-template-rows: 200px 200px 200px;
        align-items: center;
        @include mobile{
            /*Dimensiones mapa e info*/
            grid-template-areas: 
            "descripcion"
            "mapa";
            grid-template-columns: 100% 100%;
            grid-template-rows: 1fr 600px;
            align-items: start;
        }
        .descripcionContacto{
            background:map-get($gradientes, gradiente-rojo);
            color: map-get($colores-textos, texto-secundario-blanco);
            grid-area: descripcion;
            height: 100%;
            padding: 5px;
            @include flex (flex, column, center, start);
            h3{
                padding: 10px;
            }
            .infoPlanta{
                padding: 10px;
                font-size: 1.1rem;
                h4{
                    text-decoration: underline;
                }
            }
            .infoOficina{
                padding: 10px;
                font-size: 1.1rem;
                h4{
                    text-decoration: underline;
                }
            }
            @include mobile{
                align-items: center;
                text-align: center;
            }
        }
        /*Mapa ubicacion empresa*/
        .mapa{
            grid-area: mapa;
            height: 100%;
            iframe{
                width: 100%;
                filter: invert(90%) hue-rotate(180deg);
            }
            @include mobile{
                height: auto;
            }
        }
    }
}