/*Footer*/
footer{
    background-color: #F2F4F3;
    color: #000000;
    @include flex (flex, row, space-between, center);
    padding: 30px 15px;
    .container{
        .row{
            .footerImagen{
                @include mobile {
                    /*footer alineado al centro para mobile*/
                    @include flex(flex, row,center, start);
                    padding: 1.5rem;
                }
                a{
                    img{
                        width: 200px;
                        margin: 0px;
                    }
                }
            }
            .footer-contacto{
                h3{
                    text-decoration: underline;
                    text-align: right;
                    padding-bottom: 10px;
                    @include mobile{
                        text-align: center;
                    }
                }
                p{
                    text-align: right;
                    @include mobile{
                        text-align: center;
                    }
                }
            }
        }
    }
}