header{
    position: relative;
    z-index: 1;
    nav{
        padding: 5px;
        @include flex(flex, row, space-between,center);
        width: 100%;
        div{
            .navbar-brand{
                img {
                    /*Logo del menu de navegacion*/
                    transition: .5s;
                    &:hover{
                        transform:scale(1.05);
                    }
                }
            }
            .navbar-toggler{
                @include mobile{
                    /*Color boton desplegable mobile*/
                    background-color: map-get($colores-fondos, fondo-secundario);
                }
            }
            #offcanvasNavbar{
                @include mobile{
                    /*offcanvas y estilo textos*/
                    background-color:#000000a7;
                }
            }
            .offcanvas-title{
                @include mobile{
                    color: map-get($colores-fondos, fondo-secundario);
                }
            }
            div{
                .offcanvas-body{
                    div{
                        ul{
                            li{
                                a{
                                    font-weight: 400;
                                    
                                }
                                .nav-link{
                                    &:hover{
                                        border-bottom: solid 0.5px map-get($colores-textos, texto-secundario-gris);
                                        @include mobile{
                                            width: max-content;
                                        }
                                    }
                                }
                                .active{
                                    border-bottom: solid 1px map-get($colores-textos, titulo-primario);
                                    @include mobile{
                                        width: max-content;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
